/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    /*background-color: #5c87b2;*/
    /*background-image: url('Images/bg_body.jpg');*/
    background-repeat: repeat;
    background-attachment: fixed;
    background-size:cover;
    /*font-size: .75em;*/
    /*font-size: 62.5%;*/
    /*font-size: 78%;*/
    font-size: 70%;
    font-weight: 500;
    font-family: Verdana, Helvetica, Sans-Serif, Arial;
    margin: 0;
    padding: 0;
    /*color: #696969;*/
    color: #333;
    overflow-x: hidden;
    overflow-y: scroll;
}

a:link {
    color: #034af3;
    text-decoration: none;
}

a:visited {
    color: #505abc;
    text-decoration: none;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    /*color: #000;*/
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.8em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    /*width: 92%;*/
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 15px;
}

/*.logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 5%;
    height: 60px;
    float: left;
    padding-right: 1%;
}*/
.logo {
    float: left;
    padding-right: 1%;
    margin-right: 1%;
    width: 5%;
    height: 60px;
    overflow: hidden;
    position: relative;
}
.logo img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

    #header h1 {
        font-weight: bold;
        padding: 5px 0;
        margin: 0;
        color: #fff;
        border: none;
        /*line-height: 2em;*/
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px !important;
    }

#main {
    /*padding: 18px 0px 0px 0px;*/
    padding: 0px 0px 0px 0px;
    /*background-color: #fff;*/
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

#footer {
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
    }

        ul#menu li#greeting {
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            color: #fff;
        }

        ul#menu li a {
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            background-color: #e8eef4;
            color: #034af3;
        }

            ul#menu li a:hover {
                background-color: #fff;
                text-decoration: none;
            }

            ul#menu li a:active {
                background-color: #a6e2a6;
                text-decoration: none;
            }

        ul#menu li.selected a {
            background-color: #fff;
            color: #000;
        }

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    /*
    margin: 1em 0;
    padding: 1em;
    */
    border: 1px solid #CCC;
}

    fieldset p {
        margin: 2px 12px 10px 10px;
    }

legend {
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] {
    width: 150px;
    /*border: 1px solid #CCC;*/
}

input[type="password"] {
    width: 200px;
    border: 1px solid #CCC;
}

textarea {
    width: 100px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

.table {
    /*
  border: solid 1px #e8eef4;
  border-collapse: collapse;
*/
}

    .table td {
        /*
  padding: 5px;   
  border: solid 1px #e8eef4;
*/
    }

    .table th {
        /*
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
*/
        /* border: solid 1px #e8eef4;   */
    }



/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

#menucontainer {
    /*margin-top:25px;*/
    clear: both;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
    width: 250px;
    float: right;
}

    #logindisplay a:link {
        color: white;
        text-decoration: underline;
    }

    #logindisplay a:visited {
        color: white;
        text-decoration: underline;
    }

    #logindisplay a:hover {
        color: white;
        text-decoration: none;
    }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field {
    margin: 0.5em 0 0 0;
    /*margin: 0.5em 0;*/
}

.text-box {
    width: 20em;
}

    .text-box.multi-line {
        height: 6.5em;
    }

.multi-line {
    width: 270px;
    font-size: 15px;
}

.tri-state {
    width: 6em;
}


/* ------------- */
/* v.j.thangs2 */

.input {
    padding: 3px 5px;
}

.input-sort {
    padding: 3px 5px;
    width: 75px;
}

.gencode {
    /*background-color: #F8DBDD;*/
    background-color: #B8FEE9; /*color: #70E8F1; /*border-color: #E17984;*/
    color: red;
    border-color: Lime;
    font-weight: bolder;
    width: 150px;
}

.notified {
    background-color: #FEC5C8;
    color: blue;
    font-weight: bold;
}

.pickupitem {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.clear {
    clear: both;
}

.lookupbox {
    display: block;
}

    .lookupbox ul, li {
        display: block;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .lookupbox ul li {
            float: left;
            padding-left: 5px;
            padding-right: 5px;
            vertical-align: middle;
        }

.horizontalbox {
    display: block;
}

    .horizontalbox ul, li {
        display: block;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

        .horizontalbox ul li {
            float: left;
            padding-left: 5px;
            padding-right: 5px;
            vertical-align: middle;
        }

#loading-dialog {
    border: 1px solid maroon;
    position: absolute;
    top: 35%;
    left: 35%;
    z-index: 99999;
    display: none;
}

.valign-middle {
    vertical-align: middle;
}

.addform-margin {
    margin: 3px;
    margin-left: 5px;
}

.cover-div {
    -moz-box-shadow: 0 0 8px 2px #85D3FA;
    -webkit-box-shadow: 0 0 8px 2px #85D3FA;
    box-shadow: 0 0 8px 2px #85D3FA;
    z-index: 9999;
}

.title {
    /*color: #ffd176;*/
    /*color: #fcb95f;*/
    /*color: cyan;*/
    /*color: greenyellow;*/
    color: tomato;
    font-weight: lighter;
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 10px;
    /*text-shadow: 0 0 1px darkslategrey;*/
}


.t-info-sha {
    /**/
    /*-moz-box-shadow: 0 0 8px 2px #ddd;
        -webkit-box-shadow: 0 0 8px 2px #ddd;*/
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    padding-top: 8px;
    padding-bottom: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: #244766 1px 2px 2px;
    -moz-box-shadow: #244766 1px 2px 2px;
    box-shadow: #244766 1px 2px 2px;
}

.imgUnAvailable {
    background: url('Icons/delete16.png') no-repeat;
    height: 16px;
    /*width: 16px;*/
    width: auto;
    -moz-box-shadow: 0 0 0 #FFF;
    margin-top: 2px;
    padding-left: 1px;
}

.imgAvailable {
    background: url('Icons/imgchecked.png') no-repeat;
    height: 16px;
    /*width: 16px;*/
    width: auto;
    -moz-box-shadow: 0 0 0 #FFF;
    margin-top: 2px;
    padding-left: 1px;
}

.imgLoading {
    background: url(~/../../Images/loader.gif) no-repeat;
    -moz-box-shadow: 0 0 0 #FFF;
    height: 16px;
    /*width: 16px;*/
    width: auto;
    padding-right: 5px;
    float: left;
}
/* v.j.thangs2 */
/* ------------- */


/* fix telerik popup panel */
.field-validation-error {
    position: relative;
    display: block;
}

* html .field-validation-error {
    position: relative;
}

* + html .field-validation-error {
    position: relative;
}

    .field-validation-error span {
        position: relative;
        clear: both;
        white-space: nowrap;
        color: red;
        /*padding: 17px 5px 3px;*/
        /*
        background: transparent url('<%= Url.Content("~/Content/Common/validation-error-message.png") %>') no-repeat 0 0;
        */
    }

/* in-form editing */
.t-edit-form-container {
    width: 450px;
    margin: 1em;
}

    .t-edit-form-container .editor-label,
    .t-edit-form-container .editor-field {
        padding-bottom: 1em;
        float: left;
    }

    .t-edit-form-container .editor-label {
        width: 30%;
        text-align: right;
        padding-right: 3%;
        clear: left;
    }

    .t-edit-form-container .editor-field {
        width: 60%;
    }

        .t-edit-form-container .editor-field input {
            width: 250px;
        }

.ra {
    position: relative;
}

    .ra .t-formatted-value {
        left: auto;
        right: 0;
    }


.t-grid .t-alt {
    background-color: #efefef;
}

/* my highlight */
    .cell-highlight {
  background-image: linear-gradient(to right, #F27121cc, #E94057cc, #8A2387cc);
  border-radius: 6px;
  padding: 3px 6px;
}
.wraptext {
    word-break:break-all;
}

